@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,200..400,0,0&display=block");
hr {
  clear: both;
  margin: 0;
  border: none;
  outline: none;
}
hr.gutter-l {
  height: 8rem;
}
hr.gutter-m {
  height: 4rem;
}
hr.gutter-s {
  height: 2rem;
}
hr.line {
  height: 1px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: rgba(0, 0, 0, 0.1);
}
hr.line-v {
  position: relative;
  width: 1px;
}
hr.line-v:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.tl {
  text-align: left !important;
}

.tr {
  text-align: right !important;
}

.tc {
  text-align: center !important;
}

.nowrap {
  white-space: nowrap;
}

.tu {
  text-decoration: underline;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.text-red {
  color: #B12C23;
}

.fill-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.fill-height {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fill-height-item {
  flex: 1;
}

.align-bottom {
  position: absolute;
  bottom: 0;
}

.align-side {
  display: flex;
  flex-direction: row;
}
.align-side .right {
  margin-left: auto;
}

.scroll-y {
  overflow-y: auto;
}

.list-horiz > li {
  display: inline-block;
  vertical-align: middle;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes progress {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.progress {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: 100px;
  z-index: 9999;
}
.progress:after {
  content: " ";
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #2B4486;
  border-color: #2B4486 transparent #2B4486 transparent;
  animation: progress 1.2s linear infinite;
}

* {
  -webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

html {
  font-size: 10px;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Apple SD Gothic Neo", "Noto Sans KR", "Spoqa Han Sans Neo", "Malgun Gothic", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
}

body {
  background-color: #fff;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, fieldset, form, legend, p, blockquote, th, td, label, input, select, textarea, button, a {
  margin: 0;
  padding: 0;
}

a, h1, h2, h2, h3, h4, h5, h6, label, input, textarea, select, button, small, p, span, dl, ul, ol, th, td, address, em, i, strong {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.5;
  color: inherit;
}

dl, ol, ul, li {
  list-style: none;
}

h1, h2, h2, h3, h4, h5, h6, address, em, i, strong, th {
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

fieldset {
  border: none;
}

a:focus, button:focus, textarea:focus, input:focus, select:focus, li:focus {
  outline: none;
}

a, button, select {
  cursor: pointer;
}

input[type=button], input[type=submit], select {
  border: none;
  background: none;
}

input[type=text], input[type=password], input[type=search], input[type=number], input[type=email], input[type=tel], input[type=file], input[type=date], select, textarea {
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box !important;
  vertical-align: middle !important;
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: vertical;
}

button {
  border: none;
  background: transparent;
}

table {
  border-spacing: 0;
}

iframe {
  border: none;
}

img, video {
  max-width: 100%;
  height: auto;
}

i[class^=ico] {
  display: block;
  width: 5.6rem;
  height: 5.6rem;
  background-size: contain;
}

.img-material {
  display: block;
  font-size: 5.6rem;
  line-height: 1;
  font-family: "Material Symbols Outlined";
  font-display: block;
  -webkit-font-smoothing: antialiased;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 56;
}

.ico-flatfish {
  background-image: url(../images/ico-flatfish.png) !important;
  background-repeat: no-repeat;
  background-size: contain;
}
.btn-img.active .ico-flatfish {
  background-image: url(../images/ico-flatfish-w.png) !important;
  background-repeat: no-repeat;
  background-size: contain;
}

.ico-eel {
  background-image: url(../images/ico-eel.png) !important;
  background-repeat: no-repeat;
  background-size: contain;
}
.btn-img.active .ico-eel {
  background-image: url(../images/ico-eel-w.png) !important;
  background-repeat: no-repeat;
  background-size: contain;
}

.ico-trout {
  background-image: url(../images/ico-trout.png) !important;
  background-repeat: no-repeat;
  background-size: contain;
}
.btn-img.active .ico-trout {
  background-image: url(../images/ico-trout-w.png) !important;
  background-repeat: no-repeat;
  background-size: contain;
}

body {
  overflow-x: auto;
  min-width: 1280px;
  min-height: 100vh;
}

.layout-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: inherit;
  margin-left: 280px;
  padding: 4rem;
}

.page-header {
  display: flex;
  align-items: center;
  padding-bottom: 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.page-header h1 {
  font-size: 2.4rem;
}
.page-header h1 span:not(:first-child) {
  margin-left: 2rem;
  padding-left: 2rem;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.page-header .align-right {
  margin-left: auto;
}
.page-header .list-logo {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.page-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 4rem;
}

.section {
  display: flex;
  flex-direction: column;
}
.section.stretch {
  flex-grow: 1;
}
.section > .header {
  display: flex;
  align-items: center;
}
.section > .header h3 {
  font-size: 2rem;
  font-weight: 700;
}
.section > .header > a {
  margin-left: 4px;
  color: #2B4486;
}
.section > .header button {
  margin-left: auto;
}
.section > .body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 2rem;
}
.section > .body .row {
  display: flex;
  gap: 4rem;
}
.section > .body .row-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
}
.section > .body .row-item .summary-item {
  flex-grow: 1;
}

.empty, .table-empty {
  text-align: center !important;
  font-size: 1.4rem !important;
}
.empty h6, .table-empty h6 {
  font-weight: 700;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  flex: 1;
  padding: 2rem;
  background-color: rgba(43, 68, 134, 0.05);
}

.list-summary {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
.list-summary.column-2 {
  gap: 4px;
}
.list-summary.column-2 .summary-item {
  width: calc(50% - 2px);
}
.list-summary.column-3 {
  gap: 4px;
}
.list-summary.column-3 .summary-item {
  width: calc(33.3333333333% - 2.6666666667px);
}

.summary-item {
  display: flex;
  padding: 2rem;
  background-color: rgba(43, 68, 134, 0.05);
}
.summary-item:not(.horizontal) {
  flex-direction: column;
  gap: 8px;
  text-align: center;
}
.summary-item:not(.horizontal) dd {
  justify-content: center;
}
.summary-item.horizontal {
  gap: 2rem;
}
.summary-item.horizontal i, .summary-item.horizontal dl {
  flex-grow: 1;
}
.summary-item.horizontal i {
  display: flex;
  align-items: center;
  justify-content: center;
}
.summary-item i {
  display: block;
  font-size: 5.6rem;
  line-height: 1;
  font-family: "Material Symbols Outlined";
  font-display: block;
  -webkit-font-smoothing: antialiased;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 56;
  color: #2B4486;
}
.summary-item dt {
  font-size: 1.4rem;
}
.summary-item dd {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 4px;
}
.summary-item dd .value {
  font-size: 2.4rem;
  font-weight: 700;
  color: #2B4486;
}
.summary-item dd .unit {
  font-size: 1.6rem;
}

.btn-icon {
  font-family: "Material Symbols Outlined";
  font-display: block;
  -webkit-font-smoothing: antialiased;
}

.btn-m {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: break-all;
  white-space: nowrap;
  gap: 4px;
  padding: 7px 16px;
  border-radius: 4px;
  font-size: 1.4rem;
  line-height: 2rem;
}
.btn-m i {
  font-family: "Material Symbols Outlined";
  font-display: block;
  -webkit-font-smoothing: antialiased;
}
.btn-m i {
  font-size: 2rem;
}
.btn-m.btn-icon {
  width: 36px;
  height: 36px;
  font-size: 2rem;
}

.btn-l {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: break-all;
  white-space: nowrap;
  gap: 6px;
  padding: 13px 24px;
  border-radius: 4px;
  font-size: 1.6rem;
}
.btn-l i {
  font-family: "Material Symbols Outlined";
  font-display: block;
  -webkit-font-smoothing: antialiased;
}
.btn-l i {
  font-size: 2.4rem;
  line-height: 1;
}
.btn-l.btn-icon {
  width: 52px;
  height: 52px;
  font-size: 2.4rem;
}

.btn-primary {
  border: 1px solid #2B4486;
  background-color: #2B4486;
  font-weight: 500;
  color: #fff;
}
.btn-primary:hover {
  opacity: 0.6;
  filter: alpha(opacity=${opacity-ie});
}

.btn-black {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  color: #fff;
}
.btn-black:hover {
  opacity: 0.6;
  filter: alpha(opacity=${opacity-ie});
}

.btn-red {
  border: 1px solid #B12C23;
  background-color: rgba(177, 44, 35, 0.5);
  font-weight: 500;
  color: #fff;
}
.btn-red:hover {
  opacity: 0.6;
  filter: alpha(opacity=${opacity-ie});
}

.btn-outline {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.btn-outline:hover {
  opacity: 0.6;
  filter: alpha(opacity=${opacity-ie});
}

.btn-outline-white {
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}
.btn-outline-white:hover {
  opacity: 0.6;
  filter: alpha(opacity=${opacity-ie});
}

.btn-outline-black {
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #000;
}
.btn-outline-black:hover {
  opacity: 0.6;
  filter: alpha(opacity=${opacity-ie});
}

.btn-outline-red {
  border: 1px solid #B12C23;
  color: #B12C23;
}
.btn-outline-red:hover {
  opacity: 0.6;
  filter: alpha(opacity=${opacity-ie});
}

.btn-close {
  font-family: "Material Symbols Outlined";
  font-display: block;
  -webkit-font-smoothing: antialiased;
  font-size: 2.4rem;
}

.btn-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
  width: 180px;
  padding: 2rem;
  border-radius: 4px;
  background-color: #fff;
}
.btn-img .label {
  position: absolute;
  top: 12px;
  left: 12px;
}
.btn-img i {
  color: #2B4486;
  opacity: 0.6;
}
.btn-img p {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}
.btn-img.active {
  background-color: #2B4486;
}
.btn-img.active i, .btn-img.active p {
  color: #fff;
  opacity: 1;
}

.btn-inactive {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.label {
  display: block;
  padding: 1px 4px;
  border-radius: 4px;
  background-color: rgba(43, 68, 134, 0.6);
  color: #fff;
  white-space: nowrap;
}

input[type=text],
input[type=password],
input[type=search],
input[type=number],
input[type=email],
input[type=tel],
input[type=file],
input[type=date],
textarea,
.i-wrap span {
  max-width: 100%;
  border: none;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 4px !important;
  color: black;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=file]:focus,
input[type=date]:focus,
textarea:focus,
.i-wrap span:focus {
  border: 1px solid #2B4486 !important;
}
input[type=text]:disabled,
input[type=password]:disabled,
input[type=search]:disabled,
input[type=number]:disabled,
input[type=email]:disabled,
input[type=tel]:disabled,
input[type=file]:disabled,
input[type=date]:disabled,
textarea:disabled,
.i-wrap span:disabled {
  cursor: default;
  color: rgba(0, 0, 0, 0.4);
}

input[type=text],
input[type=password],
input[type=search],
input[type=number],
input[type=email],
input[type=tel],
input[type=file],
input[type=date],
select,
.i-wrap span {
  vertical-align: middle;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  padding-right: 16px !important;
  padding-left: 16px !important;
  font-size: 1.4rem !important;
  line-height: 2rem !important;
}

input[type=text],
input[type=password],
input[type=search],
input[type=number],
input[type=email],
input[type=tel],
input[type=file],
input[type=date],
select {
  width: 100%;
}

input[type=password] {
  -webkit-text-security: disc;
}

input[type=date] {
  line-height: 1.8rem !important;
}

select {
  padding-right: 32px !important;
  position: relative !important;
  vertical-align: middle;
  text-align: left !important;
  -moz-text-align-last: left;
       text-align-last: left;
  color: black !important;
}
select:not(select.noborder) {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 4px !important;
}
select:not(select.noborder):focus {
  border: 1px solid #2B4486 !important;
}

.select-container {
  position: relative;
}
.select-container:before {
  content: "arrow_drop_down";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -1rem;
  font-size: 2rem;
  font-family: "Material Symbols Outlined";
  font-display: block;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

.file-container {
  position: relative;
}
.file-container button {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 0;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.file-container input[type=file] {
  position: relative;
  padding-left: 40px;
  z-index: 1;
}
.file-container input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
  margin: 0;
  padding: 0;
  height: 0;
  width: 0;
}

.i-readonly {
  background-color: #f4f4f4;
}

.radio-container,
.checkbox-container {
  margin-top: 8px;
  margin-bottom: 8px;
}

.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 24px;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.radio-container input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}
.radio-container input:checked ~ .checkmark:after {
  display: block;
}
.radio-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}
.radio-container .checkmark:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  margin-left: -3px;
  content: "";
  display: none;
  border-radius: 50%;
  background-color: #000;
}
.radio-container:hover input ~ .checkmark {
  border: 2px solid #000;
}

.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 24px;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.checkbox-container input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}
.checkbox-container input:checked ~ .checkmark {
  border: 1px solid #000;
  background-color: #000;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 2px;
  background-color: #fff;
}
.checkbox-container .checkmark:after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 9px;
  margin-top: -5px;
  margin-left: -2px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.checkbox-container:hover {
  color: #000;
}
.checkbox-container:hover input ~ .checkmark {
  border: 2px solid #000;
}

.toggle {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.toggle input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  border-radius: 10px;
  background-color: #e1e1e1;
  width: 3.2rem;
  height: 2rem;
}
.toggle input[type=checkbox]:before {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: #fff;
}
.toggle input[type=checkbox]:checked {
  background-color: #2B4486;
}
.toggle input[type=checkbox]:checked:before {
  right: 0.2rem;
  left: auto;
}

.i-wrap {
  display: flex;
}
.i-wrap input {
  flex-grow: 1;
}
.i-wrap span {
  flex-grow: 0;
}
.i-wrap.suffix input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.i-wrap.suffix span {
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.6);
  border-left: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.form-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.form-item label {
  opacity: 0.4;
  font-size: 1.2rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 2rem;
}
.form.column-4 .form-item {
  width: calc(25% - 1.5rem);
}

.tab-content {
  display: flex;
  flex-grow: 1;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: flex;
}

.nav-tab {
  display: flex;
  justify-content: center;
}
.nav-tab li a.active {
  border: 1px solid #2B4486;
  background-color: #2B4486;
  font-weight: 500;
  color: #fff;
}
.nav-tab li a {
  border-left-width: 0;
}
.nav-tab li:first-child a {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.nav-tab li:last-child a {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.nav-tab li:not(:first-child):not(:last-child) a {
  border-radius: 0;
}

.table {
  border-top: 1px solid #000;
  width: 100%;
}
.table thead th,
.table thead td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.table tbody th,
.table tbody td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.table caption {
  overflow: hidden;
  margin-bottom: 12px;
}
.table caption span {
  float: left;
  margin-top: 8px;
  font-size: 1.2rem;
}
.table caption button {
  float: right;
}
.table th,
.table td {
  max-width: 200px;
  padding: 12px 16px;
  text-align: left;
  word-break: break-word;
}
.table thead th,
.table thead td {
  background-color: rgba(43, 68, 134, 0.05);
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.6);
  vertical-align: middle;
}
.table tbody th,
.table tbody td {
  font-size: 1.4rem;
  vertical-align: top;
  color: rgba(0, 0, 0, 0.8);
}
.table tbody th.fw-bold,
.table tbody td.fw-bold {
  color: #000;
}
.table tbody th.fw-bold a:hover,
.table tbody td.fw-bold a:hover {
  text-decoration: underline;
}
.table tfoot th,
.table tfoot td {
  padding: 12px 16px;
  text-align: right;
}
.table tfoot a,
.table tfoot button {
  display: inline-block;
  min-width: 64px;
  text-align: center;
}
.table tr.active {
  font-weight: 700;
  color: #2B4486;
}

.table-form {
  width: 100%;
}
.table-form th, .table-form td {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
}
.table-form th:not(:first-child), .table-form td:not(:first-child) {
  padding-left: 2rem;
}
.table-form thead th, .table-form thead td {
  font-size: 1.2rem;
  white-space: nowrap;
  opacity: 0.4;
}
.table-form tbody th, .table-form tbody td {
  font-size: 1.6rem;
  vertical-align: middle;
}
.table-form tfoot th, .table-form tfoot td {
  font-size: 1.4rem;
}

.table-fixed {
  table-layout: fixed;
}

.chart-header {
  font-size: 1.6rem;
  font-weight: 700;
}

.layout-sidebar {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 280px;
  min-width: 240px;
  padding: 4rem;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 200;
}
.layout-sidebar .header, .layout-sidebar .menu, .layout-sidebar .footer {
  width: 100%;
}
.layout-sidebar .header img {
  display: block;
  width: 96px;
  margin: auto;
}
.layout-sidebar .menu {
  flex-grow: 1;
}
.layout-sidebar .menu a {
  display: flex;
  align-items: center;
  padding: 12px 0;
  font-size: 1.6rem;
  font-weight: 700;
  opacity: 0.4;
}
.layout-sidebar .menu a i {
  font-size: 2.4rem;
  font-weight: 400;
  font-family: "Material Symbols Outlined";
  font-display: block;
  -webkit-font-smoothing: antialiased;
}
.layout-sidebar .menu a.active {
  color: #2B4486;
  opacity: 1;
  border-color: #2B4486 !important;
}
.layout-sidebar .menu a.active i {
  color: #2B4486;
}
.layout-sidebar .menu:not(.sub) > li {
  overflow: hidden;
}
.layout-sidebar .menu:not(.sub) > li:not(:first-child) {
  margin-top: 20px;
}
.layout-sidebar .menu:not(.sub) a {
  gap: 12px;
}
.layout-sidebar .menu.sub a {
  margin-left: 12px;
  padding-left: 22px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 2px;
}
.layout-sidebar > .footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.section.select {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.section.select > .body {
  display: flex;
  flex-grow: 0;
  margin-top: 0;
  border-radius: 4px;
  background-color: rgba(43, 68, 134, 0.05);
}
.section.select .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.section.select .col .header {
  font-size: 1.6rem;
  font-weight: 700;
}
.section.select .btn-group {
  display: flex;
  gap: 2rem;
}
@media (max-width: 1599px) {
  .section.select > .body {
    flex-direction: column;
    padding: 0 4rem;
  }
  .section.select .col {
    padding: 4rem 0;
  }
  .section.select .col:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 1600px) {
  .section.select > .body {
    flex-direction: row;
    padding: 4rem;
  }
  .section.select .col {
    padding: 0 4rem;
  }
  .section.select .col:not(:first-child) {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  outline: 0;
}
.modal.show {
  display: flex !important;
  align-items: center;
}

.modal-dialog {
  display: inline-block;
  position: relative;
  width: auto;
  max-width: 100%;
  max-height: calc(100vh - 4rem);
  margin: 2rem;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
.modal.show .modal-dialog {
  transform: none;
}
.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}

.modal-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-height: 100%;
  padding: 40px 40px 52px;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid none;
  border-radius: 0;
  box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.1);
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: flex;
  align-items: center;
}
.modal-header .btn-close {
  margin-left: auto;
}

.modal-title {
  font-size: 1.6rem;
  text-align: left;
  font-weight: 700;
}

.modal-body {
  overflow-y: auto;
  max-height: 100%;
  position: relative;
  margin-top: 4rem;
}

.modal-footer {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}
.modal-footer > * {
  margin: 0.25rem;
}
.modal-footer p {
  display: inline-block;
  font-size: 1.4rem;
  vertical-align: middle;
}
.modal-footer p span {
  font-weight: 700;
}
.modal-footer a,
.modal-footer button {
  min-width: 120px;
  margin-left: auto;
  vertical-align: middle;
}

.modal-dialog {
  margin: 1.75rem auto;
  text-align: left;
}

.modal-lg {
  width: 800px;
}

.modal-xl {
  width: 73%;
  min-width: 900px;
  max-width: 1140px;
}

.modal-table .modal-dialog {
  min-width: 720px;
}

.modal-apikey .modal-dialog {
  width: 400px;
}
.modal-apikey .modal-content {
  background-color: #2B4486;
}
.modal-apikey .modal-header {
  filter: invert(100%);
}
.modal-apikey .box {
  filter: invert(100%);
  margin-bottom: 4rem;
  padding: 12px 0;
  border-bottom: 1px solid #000;
  text-align: center;
  font-size: 1.6rem;
  word-wrap: break-word;
  color: #000;
}
.modal-apikey input[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.modal-apikey .modal-footer button {
  width: 100%;
}