// ---
// modal
// ---

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-modal;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    outline: 0;
    &.show{
        display:flex !important;
        align-items: center;
    }
}

.modal-dialog {
    display: inline-block;
    position: relative;
    width: auto;
    max-width: 100%;
    max-height: calc( 100vh - $modal-dialog-margin * 2);
    margin: $modal-dialog-margin;
    pointer-events: none;
    .modal.fade & {
        @include transition($modal-transition);
        transform: $modal-fade-transform;
    }
    .modal.show & {
        transform: $modal-show-transform;
    }
    .modal.modal-static & {
        transform: $modal-scale-transform;
    }
}

.modal-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-height: 100%;
    padding: 40px 40px 52px;
    pointer-events: auto;
    background-color: $modal-content-bg;
    background-clip: padding-box;
    border: $modal-content-border-width solid $modal-content-border-color;
    @include radius($modal-content-border-radius);
    @include box-shadow;
    outline: 0;
}

// Modal background
.modal-backdrop {
    @include overlay-backdrop($zindex-modal-backdrop, $modal-backdrop-bg, $modal-backdrop-opacity);
}
.modal-header {
    display: flex;
    align-items:center;
    .btn-close {
        margin-left:auto;
    }
}
.modal-title{
    font-size: $modal-title-font-size;
    text-align: $modal-title-align;
    @include fw-bold;
}
.modal-body {
    overflow-y: auto;
    max-height:100%;
    position: relative;
    margin-top: $gutter-m;
}

.modal-footer {
    display: flex;
    align-items: center;
    margin-top: $gutter-m;
    > * {
        margin: $modal-footer-margin-between * 0.5;
    }
    p {
        display: inline-block;
        font-size: 1.4rem;
        vertical-align: middle;
        span {
            @include fw-bold;
        }
    }
    a,
    button {
        min-width: 120px;
        margin-left: auto;
        vertical-align: middle;
    }
}

.modal-dialog {
    margin: $modal-dialog-margin-y-sm-up auto;
    text-align:left;
}
.modal-lg{
    width: $modal-lg;
}
.modal-xl{
    width:73%;
    min-width:900px;
    max-width:$modal-xl;
}

.modal-table{
    .modal-dialog{
        min-width:720px;
    }
}
.modal-apikey{
    .modal-dialog{
        width:400px;
    }
    .modal-content{
        background-color:$color-primary;
    }
    .modal-header{
        @include color-invert;
    }
    .box{
        @include color-invert;
        margin-bottom:$gutter-m;
        padding:12px 0;
        @include bb($color-common);
        text-align:center;
        font-size:1.6rem;
        word-wrap: break-word;
        color:$color-common;
    }
    input[type="date"]{
        &::-webkit-calendar-picker-indicator{
            filter: invert(1);
        }
    }
    .modal-footer{
        button{
            width:100%;
        }
    }
}
