// ---
// page
// ---

.section {
    &.select{
        flex-grow:1;
        align-items:center;
        justify-content:center;
        gap:$gutter-m;
        > .body{
            display:flex;
            flex-grow:0;
            margin-top:0;
            border-radius:$border-radius-base;
            background-color:$light-gray;
        }
        .col{
            display:flex;
            flex-direction:column;
            align-items:center;
            gap:$gutter-m;
            .header{
                font-size:1.6rem;
                @include fw-bold;
            }
        }
        .btn-group{
            display:flex;
            gap:$gutter-s;
        }
        @media (max-width:1599px){
            > .body{
                flex-direction:column;
                padding:0 $gutter-m;
            }
            .col{
                padding:$gutter-m 0;
                &:not(:first-child){
                    @include bt;
                }
            }
        }
        @media (min-width:1600px){
            > .body{
                flex-direction:row;
                padding:$gutter-m;
            }
            .col{
                padding:0 $gutter-m;
                &:not(:first-child){
                    @include bl;
                }
            }
        }
    }
}

// .page-login {
//     display:flex;
//     flex-direction: column;
//     align-items:center;
//     position: absolute;
//     top:0;
//     right:0;
//     bottom:0;
//     left:0;
//     .login {
//         flex-grow:1;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         width:360px;
//     }
//     .header {
//         margin-bottom:$gutter-m * 2;
//         text-align: center;
//         font-size:4rem;
//         line-height:1.4;
//         @include fw-bold;
//         color:$color-primary;
//         span{
//             display:block;
//             @include fw-normal;
//         }
//     }
//     form{
//         width:100%;
//         > button{
//             width:100%;
//             margin-top:$gutter-m;
//         }
//     }
//     .copyright {
//         width: 140px;
//         margin-top:$gutter-m;
//         margin-bottom:$gutter-m;
//     }
// }

// .route-info {
//     display:flex;
//     flex-direction:row;
//     align-items: flex-start;
//     .content-wrap{
//         flex-grow:1;
//         .title{
//             display:flex;
//             flex-direction:row;
//             align-items: flex-start;
//             .o-label{
//                 // display:flex;
//                 // height:auto;
//                 // align-self:center;
//                 // flex-grow:0;
//                 // justify-content: center;
//                 margin-top:10px;
//                 margin-right:12px;
//             }
//             h3{
//                 font-size:2.8rem;
//                 @include fw-bold;
//             }
//         }
//         p,.list-horiz{
//             margin-top:8px;
//             font-size:1.6rem;
//         }
//         .list-horiz{
//             margin-right:-20px;
//             margin-left:-20px;
//             color:rgba(#000,.6);
//             li{
//                 padding-right:20px;
//                 padding-left:20px;
//                 &:not(:last-child){
//                     @include br;
//                 }
//             }
//         }
//         .list-dl{
//             display:flex;
//             flex-direction:row;
//             justify-content:space-between;
//             padding:20px 40px;
//             @include b;
//             dt{
//                 font-size:1.4rem;
//                 opacity:.6;
//             }
//             dd{
//                 font-size:2.4rem;
//                 span{
//                     display:inline-block;
//                     margin-right:8px;
//                     @include fw-bold;
//                 }
//             }
//         }
//     }
//     .map{
//         width:33%;
//         margin-left:$gutter-l;
//     }
// }

// .form-schedule{
//     display:flex;
//     flex-direction:row;
//     align-items:center;
//     padding:12px 24px;
//     background-color:$light-gray;
//     button{
//         width:150px;
//         &:not(:first-child){
//             margin-left:8px;
//         }
//     }
//     ul{
//         display:flex;
//         flex-direction:row;
//         gap:32px;
//         width:50%;
//         margin-left:auto;
//     }
//     .form-item{
//         flex-shrink: 1;
//         flex-grow: 1;
//         flex-basis: 0;
//     }
// }
// .page-members{
//     .layout-content{
//         flex-grow: 1;
//         &.memberinfo-active{
//             margin-right:22.9%;
//         }
//     }
//     .member-info{
//         overflow-y:auto;
//         display: none;
//         position:fixed;
//         top:0;
//         right:0;
//         bottom:0;
//         width:22.9%;
//         min-width:200px;
//         z-index:$z-sidebar;
//         padding:$gutter-l 2.91%;
//         background:$color-primary;
//         &.active{
//             display: flex;
//             flex-direction:column;
//             & > .header{
//                 @include color-invert;
//             }
//         }
//         > .body{
//             flex-grow:1;
//             position:relative;
//         }
//         .form-footer{
//             display:flex;
//             flex-direction:column;
//             margin-top:$gutter-m;
//             div{
//                 display:flex;
//                 justify-content: space-between;
//                 margin-bottom:$gutter-m;
//             }
//             hr{
//                 height:1px;
//                 width:100%;
//                 margin:$gutter-m 0;
//                 background:rgba(#fff,.2);
//             }
//         }
//     }
// }
// .page-mypage{
//     .layout-content{
//         display:flex;
//         flex-direction: column;
//         align-items:center;
//         height:100vh;
//         > .header{
//             width:100%;
//         }
//         > .body {
//             flex-grow:1;
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             width:800px;
//         }
//     }
//     .my-info{
//         width:100%;
//         .form-footer{
//             display: flex;
//             margin-top:$gutter-m;
//             button{
//                 &:last-child{
//                     margin-left:auto;
//                 }
//             }
//         }
//     }
// }
  