// ---
// common
// ---

body {
    overflow-x: auto;
    min-width: $min-width;
    min-height:100vh;
}

.layout-content {
    display:flex;
    flex-direction: column;
    align-items:stretch;
    // height:100%;
    // min-width:$min-width - $sidebar-width-min;
    min-height:inherit;
    // position:relative;
    margin-left: $sidebar-width;
    padding:$gutter-m;
    // &:not(.has-searchform){
    //     padding: $gutter-m $gutter-l;
    //     > .body{
    //         // display:flex;
    //         // flex-grow: 1;
    //         margin-top:$gutter-l;
    //     }
    // }
    // > .header{
    //     form{
    //         display:flex;
    //         align-items:center;
    //         .form-item{
    //             width:300px;
    //         }
    //         button{
    //             margin-left:16px;
    //         }
    //     }
    // }
}

.page-header{
    display:flex;
    align-items:center;
    padding-bottom:$gutter-m;
    @include bb;
    h1 {
        font-size: 2.4rem;
        // @include fw-bold;
        // & + *{
        //     margin-left:auto;
        // }
        span{
            &:not(:first-child){
                margin-left:$gutter-s;
                padding-left:$gutter-s;
                @include bl;
            }
        }
    }
    .align-right{
        margin-left:auto;
    }
    .list-logo{
        display:flex;
        align-items:center;
        gap:$gutter-m;
    }
    // & + *{
    //     margin-top: $gutter-s;
    // }
    // > .form-item{
    //     width:200px;
    // }
}
.page-body{
    display:flex;
    flex-direction: column;
    flex-grow:1;
    padding-top:$gutter-m;
}
// .section-wrap{
//     padding:$gutter-m $gutter-l $gutter-l;
// }
.section {
    display:flex;
    flex-direction: column;
    &.stretch{
        flex-grow:1;
    }
    > .header{
        display:flex;
        align-items: center;
        h3{
            font-size:2rem;
            @include fw-bold;
            // span{
            //     @include fw-normal;
            //     // color:rgba($font-color-base,.5);
            // }
            // & + *{
            //     margin-left:auto;
            // }
        }
        // select{
        //     padding-top:$i-padding-large-top !important;
        //     padding-bottom:$i-padding-large-top !important;
        // }
        > a{
            margin-left:4px;
            color:$color-primary;
        }
        button{
            margin-left:auto;
        }
        // .button-group{
        //     display:flex;
        //     flex-direction:row;
        //     button{
        //         &:not(:first-child){
        //             margin-left:8px;
        //         }
        //     }
        // }
    }
    > .body{
        display:flex;
        flex-direction:column;
        flex-grow:1;
        margin-top:$gutter-s;
        .row{
            display:flex;
            gap:$gutter-m;
        }
        .row-item{
            display:flex;
            flex-direction:column;
            flex-grow:1;
            gap:20px;
            .summary-item{
                flex-grow:1;
            }
        }
    }
    // &.chart{
    //     > .body{
    //         display:flex;
    //         align-items:center;
    //         .chart-wrap{
    //             flex-grow:1;
    //             position:relative;
    //         }
    //         .list-label{
    //             &.vertical{
    //                 width:200px;
    //                 margin-left:$gutter-m;
    //             }
    //         }
    //     }
    // }
}

.empty,.table-empty{
    text-align:center !important;
    font-size:1.4rem !important;
    h6{
        @include fw-bold;
    }
}
.empty{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content: stretch;
    flex:1;
    padding:$gutter-s;
    background-color:$light-gray;
}
// .empty-text{
//     li{
//         background-color:$light-gray;
//         &:not(:first-child){
//             margin-top:8px;
//         }
//         &:first-child{
//             width:40%;
//             height:32px;
//         }
//         &:nth-child(2){
//             width:18%;
//             height:20px;
//         }
//         &:nth-child(3){
//             width:65%;
//             height:20px;
//         }
//     }
// }
// .table-empty{
//     padding-top:120px !important;
//     padding-bottom:120px !important;
// }
.list-summary{
    $gap:4px;
    display:flex;
    flex-wrap: wrap;
    flex-grow:1;
    &.column-2{
        gap:$gap;
        .summary-item{
            width: calc( 100% / 2 - $gap * 1 / 2 );
        }
    }
    &.column-3{
        gap:$gap;
        .summary-item{
            width: calc( 100% / 3 - $gap * 2 / 3 );
        }
    }
    // .button-group{
    //     display:flex;
    //     flex-direction:row;
    //     align-items: center;
    //     gap:8px;
    // }
}
.summary-item{
    display:flex;
    // flex-direction:column;
    // align-items:center;
    // justify-content:center;
    padding: $gutter-s;
    background-color: $light-gray;
    // 
    &:not(.horizontal){
        flex-direction:column;
        gap:8px;
        text-align:center;
        dd{
            justify-content:center;
        }
    }
    &.horizontal{
        gap:$gutter-s;
        i,dl{
            flex-grow:1;
        }
        i{
            display:flex;
            align-items: center;
            justify-content:center;
        }
    }
    i{
        @include img-material;
        color:$color-primary;
    }
    dt{
        font-size:1.4rem;
    }
    dd{
        display:flex;
        align-items:center;
        gap:8px;
        margin-top:4px;
        .value{
            font-size:2.4rem;
            @include fw-bold;
            color: $color-primary;
        }
        .unit{
            font-size:1.6rem;
        }
    }
}
// .cell-active{
//     width:160px;
//     height:28px;
//     @include horizontal-gradient(rgba($color-primary,.4),$color-primary);
//     cursor:ew-resize;
// }