// ---
// modules - collapse
// ---

.collapse:not(.show){display:none}
.collapsing{height:0;overflow:hidden;-webkit-transition:height .35s ease;transition:height .35s ease}
@media (prefers-reduced-motion: reduce) {
.collapsing{-webkit-transition:none;transition:none}
}
.collapsing.collapse-horizontal{width:0;height:auto;-webkit-transition:width .35s ease;transition:width .35s ease}
@media (prefers-reduced-motion: reduce) {
.collapsing.collapse-horizontal{-webkit-transition:none;transition:none}
}

// .collapse {
//   display: none;
// }
// .collapse.in {
//   display: block;
// }
// tr.collapse.in {
//   display: table-row;
// }
// tbody.collapse.in {
//   display: table-row-group;
// }
.btn-collapse{
  // position:absolute;
  // top:-4px;
  // right:-8px;
  // width:32px;
  // height:32px;
  // background-size:24px;
  // background-position:100% 50%;
  &.collapsed{
    // @include bgi(ico-arrow-down-navy);
    position:relative;
    &:after{
      font-family:'Material Icons Outlined';
      content:'expand_more';
      position:absolute;
      top:50%;
      right:0;
      margin-top:-12px;
      font-size:1.6rem;
      color:#999;
    }
  }
  &:not(.collapsed){
    // @include bgi(ico-arrow-up-navy);
    position:relative;
    &:after{
      font-family:'Material Icons Outlined';
      content:'expand_less';
      position:absolute;
      top:50%;
      right:0;
      margin-top:-12px;
      font-size:16px;
      color:$color-secondary;
    }
  }
}
// .text-partial{
//   font-size:1.4rem;
//   line-height: 2rem;
//   &.collapse{
//     &:not(.in){
//       overflow: hidden;
//       text-overflow: ellipsis;
//       display: -webkit-box;
//       max-height: 10rem;
//       -webkit-box-orient: vertical;
//       -webkit-line-clamp: 5;
//     }
//   }
// }