// ---
// modules - form
// ---

@mixin i-m ($i-style) {
    @if $i-style == border{
        padding-top:$i-padding-medium-top !important;
        padding-bottom:$i-padding-medium-top !important;
        padding-right:$i-padding-medium-side !important;
        padding-left:$i-padding-medium-side !important;
    }
    @else if $i-style == noborder{
        padding-top:$i-padding-medium-top !important;
        padding-bottom:$i-padding-medium-top !important;
    }
    @else{
        padding-top:$i-padding-medium-top + 6px !important;
        padding-bottom:$i-padding-medium-top - 6px !important;
    }
    font-size: 1.4rem !important;
    line-height: 2rem !important;
}
@mixin i-l ($i-style) {
    @if $i-style == border{
        padding-top:$i-padding-large-top !important;
        padding-bottom:$i-padding-large-top !important;
        padding-right:$i-padding-large-side !important;
        padding-left:$i-padding-large-side !important;
    }
    @else if $i-style == noborder{
        padding-top:$i-padding-large-top !important;
        padding-bottom:$i-padding-large-top !important;
    }
    @else{
        padding-top:$i-padding-large-top + 6px !important;
        padding-bottom:$i-padding-large-top - 6px !important;
    }
    font-size: 1.6rem !important;
    line-height: 2.4rem !important;
}
@mixin i-border {
    @include b($i-border-color !important);
    border-radius: $i-radius-base !important;
    &:focus {
        @include b($i-border-color-focus !important);
    }
}
@mixin i-underline {
    @include bb($i-border-color !important);
    &:focus {
        @include bb($i-border-color-focus !important);
    }
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="file"],
input[type="date"],
textarea,
.i-wrap span{
    max-width: 100%;
    border: none;
    background-color:$i-background-color;
    @if $i-style == border{
        @include i-border;
    }
    @else{
        @include i-underline;
    }
    color: $i-color;
    &:disabled{
        cursor:default;
        color: rgba($i-color,.4);
    }
}
input[type="text"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="file"],
input[type="date"],
select,
.i-wrap span{
    @include valign;
    @if $i-size == large{
        @include i-l ($i-style);
    }
    @else if $i-size == medium{
        @include i-m ($i-style);
    }
}
input[type="text"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="file"],
input[type="date"],
select{
    width: 100%;
}

input[type="password"] {
    -webkit-text-security: disc;
}
input[type="date"] {
    @if $i-size == large{
        line-height:2.2rem !important;
    }
    @else if $i-size == medium{
        line-height:1.8rem !important;
    }
}
@mixin placeholder($color: $nput-color-placeholder) {
    &::-moz-placeholder {
        color: $color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color: $color;
    }
}
select {
    @if $i-size == large{
        @if $i-style == border{
            padding-right: 52px !important;
        }
        @else{
            padding-right: 40px !important;
        }
    }
    @else if $i-size == medium{
        @if $i-style == border{
            padding-right: 32px !important;
        }
        @else{
            padding-right: 28px !important;
        }
    }
    &:not(&.noborder){
        @if $i-style == border{
            @include i-border;
        }
        @else{
            @include i-underline;
        }
    }
    position: relative !important;
    @include valign;
    text-align: left !important;
    text-align-last: left;
    color: $i-color !important;
}
.select-container{
    position: relative;    
    &:before {
        content: 'arrow_drop_down';
        display: inline-block;
        position: absolute;
        top: 50%;
        @if $i-style == border{
            @if $i-size == large{
                right:12px;
            }
            @else if $i-size == medium{
                right:8px;
            }
        }
        @else{
            right:0;
        }
        @if $i-size == large{
            margin-top:-1.2rem;
            font-size:2.4rem;
        }
        @else if $i-size == medium{
            margin-top:-1rem;
            font-size:2rem;
        }
        @include material-symbols-outlined;
        line-height:1;
        color: rgba($i-color,.4);
        pointer-events: none;
    }
}
.file-container{
    position:relative;
    // padding-right:60px;//button width
    button{
        position:absolute;
        bottom:0;
        left:0;
        // padding-right:0;
        padding-left:0;
        background-color:#fff;
        color:rgba(#000,.5);
        user-select: none;
        // z-index:0;
    }
    input[type="file"]{
        position:relative;
        padding-left:40px;
        z-index:1;
        &::-webkit-file-upload-button{
            visibility: hidden;
            margin: 0;
            padding: 0;
            height: 0;
            width: 0;
        }
    }
}

.i-readonly {
    background-color: #f4f4f4;
}

.radio-container,
.checkbox-container {
    margin-top: 8px;
    margin-bottom: 8px;
}

$radio-size: 16px;
.radio-container {
    display: inline-block;
    position: relative;
    padding-left: $radio-size + 8px;
    font-size: 1.2rem;
    @include pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    // @media @fromtablet{.pl(@radio-size + 12px)}
    input {
        position: absolute;
        @include pointer;
        opacity: 0;

        &:checked ~ .checkmark {
            &:after {
                display: block;
            }
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: $radio-size;
        height: $radio-size;
        @include b(#ccc, 2px);
        @include radius(50%);
        background-color: #fff;

        &:after {
            @include center-abs($radio-size - 10px, $radio-size - 10px);
            content: "";
            display: none;
            border-radius: 50%;
            background-color: $color-secondary;
        }
    }

    &:hover {
        input ~ .checkmark {
            @include b($color-secondary, 2px);
        }
    }
}

$checkbox-size: 16px;
.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: $checkbox-size + 8px;
    font-size: 1.2rem;
    @include pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        @include pointer;
        opacity: 0;

        &:checked ~ .checkmark {
            @include b($color-secondary);
            background-color: $color-secondary;

            &:after {
                display: block;
            }
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: $checkbox-size;
        height: $checkbox-size;
        @include b(#ccc, 2px);
        @include radius(2px);
        background-color: #fff;

        &:after {
            content: "";
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            width: calc($checkbox-size / 2 - 3px);
            height: calc($checkbox-size / 2 + 1px);
            margin-top: calc(-1 * ($checkbox-size / 2 - 3px));
            margin-left: calc(-1 * ($checkbox-size / 2 - 6px));
            border: solid #fff;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    &:hover {
        color: $color-secondary;

        input ~ .checkmark {
            @include b($color-secondary, 2px);
        }
    }
}

.toggle{
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    input[type="checkbox"] {
        appearance: none;
        position: relative;
        // border: max(2px, 0.1em) solid gray;
        border-radius: 10px;
        background-color:#e1e1e1;
        width: 3.2rem;
        height: 2rem;
        &:before {
            content: "";
            position: absolute;
            top:.2rem;
            left: 0.2rem;
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 50%;
            transform: scale(0.8);
            background-color: #fff;
            // transition: left 250ms linear;
        }
        &:checked {
            background-color: $color-primary;
            // border-color: tomato;
            &:before {
                right:.2rem;
                left: auto;
            }
        }
    }
}

.i-wrap{
    display:flex;
    input{
        flex-grow:1;
    }
    span{
        flex-grow:0;
    }
    &.suffix{
        input{
            @if $i-style == border{
                border-top-right-radius:0 !important;
                border-bottom-right-radius:0 !important;
            }
        }
        span{
            white-space: nowrap;
            color:rgba($font-color-base,.6);
            @if $i-style == border{
                border-left:0 !important;
                border-top-left-radius:0 !important;
                border-bottom-left-radius:0 !important;
            }
        }
    }
}
.form-item{
    position:relative;
    @if $i-style == border{
        display:flex;
        flex-direction:column;
        @if $i-size == medium{
            gap:4px;
        }
        label{
            opacity:.4;
            @if $i-size == medium{
                font-size:1.2rem;
            }
        }
    }
    @else{//underline
        position:relative;
        > .field{
            width:100%;
            background: transparent;
            transition: border-color 0.2s;
            &::placeholder {
            color: transparent;
            }
            &:placeholder-shown ~ .label {
                font-size: 1.6rem !important;
                cursor: text;
                top: 16px;
            }
            &:focus ~ .label {
                color: $color-primary;
            }
        }
        > .label,> .field:focus ~ .label {
            position: absolute;
            top: 0;
            display: block;
            transition: 0.2s;
            font-size: 1.2rem !important;
        }
        > .label {
            color: $i-label-color;
        }
    }
}
.form{
    display:flex;
    flex-wrap: wrap;
    align-items:flex-end;
    gap:$gutter-s;
    &.column-4{
        .form-item{
            width: calc( 100% / 4 - $gutter-s * 3 / 4 );
        }
    }
}