// @import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

// ---
// modules - images
// ---

img,video{
    max-width:100%;
    height:auto;
}


i[class^="ico"]{
    display:block;
    width:5.6rem;
    height:5.6rem;
    @include bgs;
}
@mixin img-material{
    display:block;
    font-size:5.6rem;
    line-height:1;
    @include material-symbols-outlined;
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 56
}
.img-material{
    @include img-material;
}
.ico-flatfish{
    @include bgi(ico-flatfish);
    .btn-img.active &{
        @include bgi(ico-flatfish-w);
    }
}
.ico-eel{
    @include bgi(ico-eel);
    .btn-img.active &{
        @include bgi(ico-eel-w);
    }
}
.ico-trout{
    @include bgi(ico-trout);
    .btn-img.active &{
        @include bgi(ico-trout-w);
    }
}