// ---
// modules - tab
// ---

// .nav-tab-vertical {
//     // overflow:hidden;
//     width: 132px;
//     .tab-item {
//         a {
//             display: block;
//             padding: 9px 16px 10px;
//             @include br;
//             // background-color: #f1f1f1;
//             font-size: 1.4rem;
//             &.active {
//                 position: relative;
//                 @include br(#333);
//                 background-color: #333;
//                 color: #fff;
//                 &:after {
//                     content: "";
//                     display: block;
//                     position: absolute;
//                     top: 50%;
//                     right: -6px;
//                     width: 0;
//                     height: 0;
//                     margin-top: -6px;
//                     border-style: solid;
//                     border-width: 6px 0 6px 6px;
//                     border-color: transparent transparent transparent #333;
//                 }
//             }
//         }
//     }
// }
.tab-content {
    display:flex;
    flex-grow:1;
    > .tab-pane {
        display: none;
    }
    > .active {
        display: flex;
    }
}

.nav-tab{
    display:flex;
    justify-content:center;
    li{
        a{
            &.active{
                @include btn-primary;
            }
        }
        @if $tab-style == border{
            a{
                border-left-width:0;
            }
            &:first-child{
                a{
                    border-top-right-radius:0;
                    border-bottom-right-radius:0;
                }
            }
            &:last-child{
                a{
                    border-top-left-radius:0;
                    border-bottom-left-radius:0;
                }
            }
            &:not(:first-child):not(:last-child){
                a{
                    border-radius:0;
                }
            }
        }
    }
}
