// ---
// module - text
// ---

.label{
    display:block;
    padding: 1px 4px;
    border-radius: $border-radius-base;
    background-color: rgba($color-primary,.6);
    color:#fff;
    white-space:nowrap;
}
// @mixin o-label($color: $color-primary, $fontcolor: #fff, $radius: 4px, $fontsize: 1.2rem){
//     // display:inline-block;
//     // position:relative;
//     padding: 2px 6px;
//     border-radius: $radius;
//     background: $color;
//     text-align: center;
//     font-size:$fontsize;
//     color:$fontcolor;
//     @include nowrap;
// }
// .o-label{
//     @include o-label;
//     &.bus-blue{
//         @include o-label($bus-blue);
//     }
//     &.bus-red{
//         @include o-label($bus-red);
//     }
//     &.bus-green{
//         @include o-label($bus-green);
//     }
//     &.bus-violet{
//         @include o-label($bus-violet);
//     }
//     &.bus-yellow{
//         @include o-label($bus-yellow, rgba(#000,.6));
//     }
// }

// @mixin bubble($color: $color-primary, $radius: 4px, $fontsize: 1.2rem, $fontcolor: #fff){
//     display:inline-block;
//     position:relative;
//     padding: 2px 6px;
//     border-radius: $radius;
//     background: $color;
//     text-align: center;
//     font-size:$fontsize;
//     color:$fontcolor;
//     &:after{
//         content:'';
//         display:block;
//         position:absolute;
//         top:100%;
//         left:50%;
//         width: 0px;
//         height: 0px;
//         border-style: solid;
//         border-width: 6px 4px 0 4px;
//         border-color: $color transparent transparent transparent;
//     }
// }
// .bubble{
//     @include bubble;
//     &.red{
//         @include bubble($red);
//     }
// }